body {
margin:0px; 
font-family:arial;
font-weight: bold;
font-size:20px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#center {
	margin:0px auto;
	width:500px;
		height:100%;
	background-color:#f4f4f4;
}

#nameinput {
	margin-top:60px;
}

#getname {
	z-index:10;
	position:absolute;
	width:500px;
	height:1700px;
	background-color:#f4f4f4;
}

.getname {
margin-left:40px;
}

.button {
	background-color: #ff5a00;
    border: none;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
	background-color: #ba4100;
    color: #bfbfbf;
}

#text {
	margin:20px 40px;
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size:18px;
}

#playertitle {
	margin:40px;
}

#playerpreview {
margin-left:40px;
margin-top:-20px;
}

#playercharacterbegin1 {
	z-index:2;
    margin:20px 20px;
    display:block;
  width:120px;
  height:120px;
  background: url(images/player.png) 0 0;
}

#playercharacterbegin2 {
	z-index:2;
   margin-top:-140px;
   margin-left:180px;
    display:block;
  width:120px;
  height:120px;
  background: url(images/player.png) 0 120px;
}

.enemybegin {
	  width:120px;
  height:120px;
  	z-index:2;
    display:block;
}

#enemycharacterbegin1 {
	margin-top:-10px;
  background: url(images/microwave.png) 0 0px;
}

#enemycharacterbegin2 {
	margin-top:-120px;
	margin-left:170px;
  background: url(images/microwave.png) 0 360px;
}

#enemycharacterbegin3 {
	margin-top:-10px;
  background: url(images/microwave.png) 0 240px;
}

#enemycharacterbegin4 {
	margin-top:-120px;
	margin-left:170px;
  background: url(images/toaster.png) 0 360px;
}

#gametitle {
	margin:5px 0px 0px 5px;
	font-family: 'Merriweather', serif;
	color:#ff5a00;
}

#stats {
	position: absolute;
	height:60px;
	width:500px;
}

/* ul */
#statslist {
list-style: none;
margin: 0;
padding: 0;
}

/* li */
#statslist .statslist  {
	float:left;
	padding:5px 10px 5px 5px;
}

#upgradelist {
	margin:100px 30px;
}

.listitem {
	padding-bottom:10px;
}

#listtitle {
	
}

#quest {
	padding-bottom:10px;
}


.plus {
	margin-left:280px;
	margin-top:-31px;
    position:absolute;
    height:40px;
    width:40px;
    background: url(images/plus.png) 0 0px;
    cursor:pointer;
}

#plus:hover {
	background: url(images/plus.png) 0 40px;
}

#fightzone {
	display:none;
	margin-top:100px;
	height:380px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent; 
}

#ground {
	position:absolute;
	margin-top:10px;
}

#command {
	position: absolute;
	margin-top:-45px;
	color:#ff5a00;
	width:150px;
	font-size:17px;
}

#player {
margin-top:50px;
margin-left:50px;
width:150px;
height:150px;
float:left;
}


#playerhealthbar {
	width:150px;
	height:20px;
	background-color:#ececec;
}

#playerprogress {
	width:100%;
    height:20px;
	background-color:#ff5a00;
}
#playercharacter {
	position:absolute;
	z-index:2;
    margin:10px 20px;
    display:block;
  width:120px;
  height:120px;
  background: url(images/player.png) 0 0;
}

#enemy {
margin-right:50px;
width:150px;
height:150px;
float:right;
}

#enemyhealthbar {
	width:150px;
	height:20px;
	background-color:#ececec;
}

#enemyprogress {
	width:100%;
    height:20px;
	background-color:#ff0000;
}

#enemycharacter {
	position:absolute;
	z-index:2;
    margin:25px 15px;
    display:block;
  width:120px;
  height:120px;
  background: none;
}

#killed {
	position:absolute;
	margin-top:300px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#fightinfo {
	list-style-type: none;
}

#footer {
	margin-bottom:10px;
	width:300px;
	height:70px;
	bottom:0px;
	position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#arrowicon {
	float:left;
	height:70px;
	width:70px;
	background: url(images/icons.png) 0 210px;
	cursor:pointer;
}


#arrowicon:hover {
	background: url(images/icons.png) 0 140px;
}

#swordicon {
	float:right;
  height:70px;
  width:70px;
  background: url(images/icons.png) 0 0px;
  cursor:pointer;
}

#swordicon:hover {
	background: url(images/icons.png) 0 280px;
}

.info {
	margin-right:50px;
	margin-top:5px;
	float:right;
    height:60px;
    width:60px;
    background: url(images/info.png) 0 0px;
    cursor:pointer;
}

.info2 {
	margin-right:120px;
	margin-top:5px;
	float:right;
    height:60px;
    width:60px;
    background: url(images/info.png) 0 0px;
    cursor:pointer;
}

.info:hover {
    background: url(images/info.png) 0 60px;
}

.info2:hover {
    background: url(images/info.png) 0 60px;
}

#infopage {
	z-index:10;
	position:absolute;
	width:500px;
	height:1500px;
	background-color:#f4f4f4;
	display:none;
}

#credit {
margin-left:40px;
margin-top:30px;
font-size:18px;
}




     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: portrait)
{
	body {
width:auto;
font-size:18px;
background-color: #f4f4f4;
	}
	#getname {
	height:1600px;
	width:100%;
	background-color:#f4f4f4;
}
	#infopage {
	height:1600px;
	width:100%;
	background-color:#f4f4f4;
}
.getname {
margin-left:20px;
}
	#center {
	margin:0px auto;
	width:auto;
	height:100%;
}
#text {
	margin:20px 20px;
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size:15px;
}
#playerpreview {
margin-left:20px;
}
#playertitle {
margin-left:20px;
}
#playercharacterbegin2 {
   margin-left:140px;
}
#enemycharacterbegin2 {
   margin-left:140px;
}
#enemycharacterbegin4 {
   margin-left:140px;
}
#arrowicon {
cursor:none; 
}

#swordicon {
cursor:none; 
}
	#player {
margin-left:8px;
}

#killed {
	cursor: none;
	margin-top:250px;
	width:260px;

}

	#enemy {
margin-right:8px;
}

.plus {
cursor:none; 
margin-left:250px;
}

.info {
	cursor:none; 
}

.info2 {
	cursor:none; 
}

#upgradelist {
	margin:50px 5px;
}

#listtitle {
	font-size:25px;
	margin-top:10px;
}

#quest {
}

#stats {
	width:auto;
	font-size:14px;
	overflow: scroll;
	height:90px;
}

#statslist .statslist  {
	float:left;
	padding:5px 2px 2px 3px;
}

#fightzone {
	cursor: none;
	height:300px;
	margin-top:60px;
}
#command {
	position: absolute;
	margin-top:-50px;
}
}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: landscape)
{
		body {
background-color: #f4f4f4;
	}
	.plus { 
	cursor:none; 
	}
	
		#center {
	margin:0px auto;
	width:100%;
	height:100%;
}
		#player {
	cursor:none; 
	margin-left:20px;
	margin-top:0px;
}
	#getname {
	height:1400px;
	width:100%;
	background-color:#f4f4f4;
}
	#infopage {
	height:1400px;
	width:100%;
	background-color:#f4f4f4;
}
#arrowicon {
cursor:none; 
}

#swordicon {
cursor:none; 
}
#footer {
	z-index:4;
}
	#enemy {
margin-right:20px;
margin-top:0px;
}
#upgradelist {
	margin:30px 20px;
}
#stats {
	width:auto;
}
#fightzone {
	cursor: none;
	height:180px;
	margin-top:30px;
}
#gametitle {
	display:none;
}
}

