body {
margin:0px; 
font-family:arial;
font-weight: bold;
font-size:20px;
}

#center {
	margin:0px auto;
	width:500px;
		height:100%;
	background-color:#f4f4f4;
}

#getname {
	z-index:10;
	position:absolute;
	width:500px;
	height:100%;
	background-color:#f4f4f4;
}

.getname {
margin-left:5px;
}

.button {
	background-color: #ff5a00;
    border: none;
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
	background-color: #ba4100;
    color: #bfbfbf;
}



#stats {
	position: absolute;
	height:60px;
}

/* ul */
#statslist {
list-style: none;
margin: 0;
padding: 0;
}

/* li */
#statslist .statslist  {
	float:left;
	padding:5px 10px 5px 5px;
}

#upgradelist {
	margin:100px 30px;
}

#plus {
	margin-left:250px;
	margin-top:-31px;
    position:absolute;
    height:40px;
    width:40px;
    background: url(images/plus.png) 0 0px;
    cursor:pointer;
}

#plus:hover {
	background: url(images/plus.png) 0 40px;
}

#fightzone {
	display:none;
	margin-top:100px;
	
}

#ground {
	position:absolute;
	margin-top:10px;
}

#player {
margin-top:50px;
margin-left:50px;
width:150px;
height:150px;
float:left;
cursor: pointer;
}


#playerhealthbar {
	width:150px;
	height:20px;
	background-color:#ececec;
}

#playerprogress {
	width:100%;
    height:20px;
	background-color:#ff5a00;
}
#playercharacter {
	position:absolute;
	z-index:2;
    margin:10px 20px;
    display:block;
  width:120px;
  height:120px;
  background: url(images/player.png) 0 0;
}

#enemy {
margin-right:50px;
width:150px;
height:150px;
float:right;
}

#enemyhealthbar {
	width:150px;
	height:20px;
	background-color:#ececec;
}

#enemyprogress {
	width:100%;
    height:20px;
	background-color:#ff0000;
}

#enemycharacter {
	position:absolute;
	z-index:2;
    margin:25px 15px;
    display:block;
  width:120px;
  height:120px;
  background: url(images/microwave.png) 0 0;
}

#footer {
	margin-bottom:10px;
	width:200px;
	height:70px;
	bottom:0px;
	position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#arrow {
	float:left;
	height:70px;
	width:70px;
	background: url(images/icons.png) 0 210px;
	cursor:pointer;
}


#arrow:hover {
	background: url(images/icons.png) 0 140px;
}

#sword {
	float:right;
  height:70px;
  width:70px;
  background: url(images/icons.png) 0 0px;
  cursor:pointer;
}

#sword:hover {
	background: url(images/icons.png) 0 280px;
}



     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: portrait)
{
	body {
width:auto;
	}
	#getname {
	height:100%;
	width:100%;
	background-color:#f4f4f4;
}
	#center {
	margin:0px auto;
	width:auto;
	height:100%;
}
	#player {
margin-left:5px;
}
	#enemy {
margin-right:5px;
}

#plus {

}

}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation: landscape)
{
		#center {
	margin:0px auto;
	width:100%;
	height:100%;
}
		#player {
margin-left:20px;
margin-top:-50px;
}
	#enemy {
margin-right:20px;
margin-top:-50px;
}
#upgradelist {
	margin:50px 20px;
}
}

