body {
	margin:0px auto;
	width:500px;
}

#center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#getname {
	position:absolute;
	width:100%;
	height:100%;
	background-color:white;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

li {
	float:left;
	padding:5px 10px 5px 5px;
}

#enemy {
width:200px;
float:right;
}

#enemyhealthbar {
	width:200px;
	height:20px;
	background-color:#ececec;
}

#enemyprogress {
	width:100%;
    height:20px;
	background-color:#ff0000;
}

#enemycharacter {
    margin:10px auto;
    display:block;
  width:150px;
  height:150px;
  background: url(images/enemy.png) 0 0;
}

#enemycharacter:active {
  background: url(images/enemy.png) 0 150px;
}

#player {
margin-top:100px;
margin-left:20px;
width:200px;
height:200px;
float:left;
}


#playerhealthbar {
	width:200px;
	height:20px;
	background-color:#ececec;
}

#playerprogress {
	width:100%;
    height:20px;
	background-color:#ff0000;
}
#playercharacter {
    margin:10px auto;
    display:block;
  width:150px;
  height:150px;
  background: url(images/player.png) 0 0;
}

#playercharacter:active {
  background: url(images/player.png) 0 150px;
}





     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
	body {
width:auto;
	}
	#player {
margin-top:10px;
}
#enemy {
margin-right:10px;
}


